<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Matsuyoi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188418A91F2C3A8E00728BD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188418C01F2C3A8E00728BD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188418CB1F2C3A8E00728BD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
